
/* these rules apply when width of browser is greater than 1200px (ex: big tablets) */
@media only screen and (max-width: 1200px) {
    
    .hero-text-box {
        width: 100%;
        padding 0 5%;
    }
    
    .row {padding: 0 2%;}  
}



/* these rules apply when width of browser is 768px to 1023px (ex: iPad in portrait mode) */
@media only screen and (max-width: 1023px) {
    
    body {font-size: 90%;}
    section { 60px 0; }
    
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    
    .steps-box {margin-top: 10px;}
    .steps-box:last-child {margin-top: 10px;}
    
    .works-steps {margin-bottom: 40px;}
    .works-steps:last-of-type {margin-bottom: 60px;}
    
    .app-screen {width: 50%}
    
    h3 {font-size: 84%}
    
    .icon-small {
        width: 17px;
    }
    
    .city-feature {font-size: 90%}
    
    .plan-box {
        width: 100%;
        margin-left: 0%;
    }
    
    .plan-price {font-size: 250%;}
    
    .contact-form {width: 90%;}
    
}


/* these rules apply when width of browser is 481px to 767px (ex: phone smaller than iPad) */
@media only screen and (max-width: 767px) {
    
    body {font-size: 16px;}
    section {padding: 30px 0;}
    
    .row,
    .hero-text-box { padding: 0 4%}
    
    .col {
        width: 100%;
        margin: 0% 0% 4% 0%
    }
    
    .main-nav {display: none;}
    
    h1 {font-size: 180%}
    h2 {font-size: 140%}
    h3 {font-size: 150%}
    
    .long-copy{
        width: 100%;
        margin-left: 0%;
    }
    
    .works-step div{
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
        font-size: 120%;
    }
    
    .works-step {margin-bottom: 20px;}
    .works-step:last-of-type {margin-bottom: 20px;}
    
    .steps-box:first-child { text-align: center;}
    
    .app-screen {width: 40%;}
    
}


/* these rules apply when width of browser is less than 480px (ex: iPhone 4, iPhone 5, etc.) */
@media only screen and (max-width: 480px) {
    
    section {padding 25px 0;}
    
    .contact-form{width: 100%;}
    
}

